<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <title>Trello Test</title>
</head>
<body>
    <div id="container">
        <div id="lists">

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://api.trello.com/1/client.js?key=3bced7489a806cfac0a7d3df3d559cab"></script>
    <script src="/js/trellodata.js" type="text/javascript"></script>
    <script src="/js/echarts.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            var boards;
            var boardName;

            var success = function(successMsg) {
                boards = new Board(successMsg);

                $.each(successMsg,function(key,value){
                    if(value.name === 'Life' || value.name === 'Work'){
                        var boardID = value.id;
                        var parameters = {
                            cards:'open',
                            card_fields:'idBoard,name',
                            fields:'idBoard,name'
                        };
                        boards[boardID] = value.name;
                        Trello.get('/boards/'+boardID+'/lists',parameters,boards.retrieveListsByBoard,error);
                    }
                });
            };

            var error = function(errorMsg) {
                console.log(errorMsg);
            };

            var authenticationSuccess = function () {
                Trello.get('/member/me/boards',success,error);
            };

            Trello.authorize({
                type: 'popup',
                name: 'Trello Custom',
                scope: {
                    read: true,
                    write: false
                },
                expiration: 'never',
                success: authenticationSuccess,
                error: error
            });
        });
    </script>
</body>
</html>